*{
	 padding : 0;
	 margin : 0;
	 border : 0;
}
.blended_grid{
	 display : block;
	 width : 100%;
	 overflow : auto;
	 margin : 100px auto 0 auto;
}
.topBanner{
	 background-color : gray;
	 float : left;
	 clear : none;
	 height : 100px;
	 width : 100%;
	 font-family: 'Open Sans', sans-serif;
	 text-align: left;
	 padding-left: 25px;
	 padding-top: 47px;
}
.navBar{
	 background-color : black;
	 float : left;
	 clear : none;
	 height : 50px;
	 width : 100%;
	 text-align: right;
	 text-color: white;
	 padding-right: 25px;
         padding-top: 25px;
	 font-family: 'Open Sans', sans-serif;
}
.middleBanner{
	 background-color : lightgray;
	 float : left;
	 clear : none;
	 height : 450px;
	 width : 100%;
	 font-family: 'Open Sans', sans-serif;
}
.leftBanner{
	 background-color : orange;
	 float : left;
	 clear : none;
	 height : 350px;
	 width : 33%;
	 font-family: 'Open Sans', sans-serif;
}
.centerBanner{
	 background-color : red;
	 float : left;
	 clear : none;
	 height : 350px;
	 width : 34%;
	 font-family: 'Open Sans', sans-serif;
}
.rightBanner{
	 background-color : blue;
	 float : left;
	 clear : none;
	 height : 350px;
	 width : 33%;
	font-family: 'Open Sans', sans-serif;
}
.bottomBanner{
	 background-color : gray;
	 float : left;
	 clear : none;
	 height : 100px;
	 width : 100%;
	 font-family: 'Open Sans', sans-serif;
}
