body {
  background-color: white;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.a{
    color: white;
    background-color: #b3ccff
    padding: 35px;
}

.b{
    color: black;
    background-color: white
    padding: 35px;
}
