body {
  background-color: white;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.a{
    color: white;
    background-color: #b3ccff
}

.b{
    color: black;
    background-color: white
}
.standard{
    padding: 35px;
}

.topnav{
    float: right;
    color: white;
    background-color: #b3ccff
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
}

